<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/Content/img/logo.jpg" width="60" alt="Logo" />
            </a>
            @Html.ActionLink("Panucci's Pizza", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("| Home |", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("| Carrello |", "Index", "Carrello", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("| Prodotti |", "Index", "Prodotti", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="ms-auto">@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link " })</li>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("| Prodotti  |", "Index", "Prodotti", new { area = "" }, new { @class = "nav-link" })</li>
                        @*<li>@Html.ActionLink("| Gestione Utenti |", "Index", "Utenti", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("| Gestione Prodotti |", "Index", "GestioneProdotti", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("| Gestione Ordini |", "Index", "Ordini", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="ms-auto">@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link " })</li>
                    }
                    else
                    {
                        <li class="ms-auto">@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Panucci's Pizza </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
