@model PizzeriaExpress.Models.Prodotti

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">Elimina</h2>

<h3 class="text-center">Sicuro di voler eliminare questo prodotto?</h3>
<div>
    <hr />
    <div class="row" style="display: flex; justify-content: space-around;">
        <div class="col-md-4">
            <div class="card" style="display: flex; flex-direction: column; justify-content: center; flex-wrap: wrap; align-content: space-around; align-items: center;">
                <h2 class="">@Model.Nome</h2>
                <div>
                    <img src="~/Content/img/@Model.Foto" class="card-img mt-1" alt="Immagine del prodotto">
                </div>
                <div>
                    <img src="~/Content/img/@Model.Foto2" class="card-img mt-1" alt="Immagine del prodotto">
                </div>
                <div>
                    <img src="~/Content/img/@Model.Foto3" class="card-img mt-1" alt="Immagine del prodotto">
                </div>
                <div class="card-body">
                    <p class="card-text">Prezzo: @Model.Prezzo</p>
                    <p class="card-text">Consegna: @Model.Consegna</p>
                    <p class="card-text">Ingredienti: @Model.Ingredienti</p>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                    <input type="submit" value="Elimina" class="btn btn-danger me-2 bg-gradient rounded-5 mt-2" /> 
                
            }
            <a href="@Url.Action("Index", "GestioneProdotti")" class="btn btn-light bg-gradient rounded-5 mt-2">Torna indietro</a>
        </div>
    </div>
</div>
