@model PizzeriaExpress.Models.Prodotti

@{
    ViewBag.Title = "Delete";
}

<h2>Elimina</h2>

<h3>Sicuro di voler eliminare questo prodotto?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/Content/img/@Model.Foto" class="card-img" alt="Immagine del prodotto">
                <img src="~/Content/img/@Model.Foto2" class="card-img" alt="Immagine del prodotto">
                <img src="~/Content/img/@Model.Foto3" class="card-img" alt="Immagine del prodotto">
                <div class="card-body">
                    <h5 class="card-title">@Model.Nome</h5>
                    <p class="card-text">Prezzo: @Model.Prezzo</p>
                    <p class="card-text">Consegna: @Model.Consegna</p>
                    <p class="card-text">Ingredienti: @Model.Ingredienti</p>
                 
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-danger me-2 bg-gradient" /> |
            @Html.ActionLink("Torna alla lista", "Index", new { @class = "btn btn-primary"})
        </div>
    }
</div>
