@model PizzeriaExpress.Models.Prodotti

@{
    ViewBag.Title = "Details";
}

<h2>Dettagli</h2>

<div>
    <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/img/@Model.Foto" class="card-img" alt="Immagine del prodotto">
                    <img src="~/Content/img/@Model.Foto2" class="card-img" alt="Immagine del prodotto">
                    <img src="~/Content/img/@Model.Foto3" class="card-img" alt="Immagine del prodotto">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Nome</h5>
                        <p class="card-text">Prezzo: @Model.Prezzo</p>
                        <p class="card-text">Consegna: @Model.Consegna</p>
                        <p class="card-text">Ingredienti: @Model.Ingredienti</p>
                        @*@using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                        }*@
                    </div>
                </div>
            </div>
        </div>
</div>
        <p>
            @Html.ActionLink("Torna indietro", "Index", new { @class = "btn btn-secondary" })
        </p>
