@model PizzeriaExpress.Models.Prodotti

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center">Dettagli</h1>

<div style="display: flex; justify-content: center;">
    <hr />
    <div class="row" >
        <div class="col-md-4">
            <div style="width:fit-content" class="card">
                <h2 class="text-center">@Model.Nome</h2>
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div>
                        <img src="~/Content/img/@Model.Foto" style="width:15rem;" class="card-img mt-1 m-1" alt="Immagine del prodotto">
                    </div>
                    <div>
                        <img src="~/Content/img/@Model.Foto2" style="width:15rem;" class="card-img mt-1 m-1" alt="Immagine del prodotto">
                    </div>
                    <div>
                        <img src="~/Content/img/@Model.Foto3" style="width:15rem;" class="card-img mt-1 m-1" alt="Immagine del prodotto">
                    </div>
                </div>
                <hr />
                <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
                    <p class="card-text">Prezzo: @Model.Prezzo</p>
                    <p class="card-text">Consegna: @Model.Consegna</p>
                    <p class="card-text">Ingredienti: @Model.Ingredienti</p>
                    @using (Html.BeginForm("AddToCart", "Prodotti", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Model.IdProdotto" />
                        <label for="Quantita">Quantità:</label>
                        <input id="Quantita" type="number" name="quantita" value="1" min="1" max="30">
                        <input type="submit" value="Aggiungi al carrello" class="btn btn-success bg-gradient rounded-5 mt-2">
                    }
                    <a href="@Url.Action("Index", "Prodotti")" class="btn btn-light bg-gradient rounded-5 mt-2">Torna indietro</a>
                </div>
            </div>
        </div>
    </div>
</div>


